    
    <!-- jquery.slim.min.js -->
    <script src="js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- check if user is idle -->
    <script src="js/idle.js"></script>