<div class="modal fade" id="idle-modal" tabindex="-1" role="dialog" aria-labelledby="idle-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="idle-modal-label">Are you still there?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You will be automatically logged out in 1 minute! Don't lose your cool artwork!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes, I'm still here</button>
      </div>
    </div>
  </div>
</div>