$font-stack: "Raleway", sans-serif;
$primary-color: #333;

body {
  font-family: $font-stack;
  font-weight: 300;
  color: $primary-color;

  &.splash {
    overflow: hidden;
  }
}

h1 {
  font-weight: 800;
  padding: 10px 0 0 10px;
  text-transform: uppercase;

  a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

#home-title {
  position: absolute;
  top: 215px;
  left: 40px;
  width: 350px;
  z-index: 10000;
  
  h1 {
    color: #333;
    font-size: 5rem;
    padding: 0;
    width: 250px;
  }
}

#home-tagline {
  position: absolute;
  top: 655px;
  right: 185px;
  z-index: 10000;

  h2 {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: none;
    width: 230px;
  }
}

h2 {
  color: #676671;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  color: #878792;
}

img#aon-splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#filters h3 {
  text-transform: uppercase;
}

.page-header {
  background: #283c86;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  height: 50px;
}

div.picker-image {
  padding-bottom: 10px;
}

div#save-pdf-container {
  display:flex;
  justify-content:flex-end;
  width:100%;
  padding:0;
}

footer {
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;

  p {
    background-color: #000;
    border-radius: 0px 4px 0px 0px;
    color: #fff;
    margin: 0;
    opacity: 0.65;
    padding: 15px;

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #f3f3f3;
      }
    }
  }
}

/* Splash page */

#slideshow-splash {
  background: transparent url(../images/aon-splash.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.collage-slideshow.slick-initialized.slick-slider {
  margin-top: -500px;
}

/* Styles for Buttons and Form Controls */

div.next-button-container {
  display:flex;
  justify-content:flex-end;
  width:100%;
  padding:0;
}

a#next-button {
  bottom: 30px;
  position: fixed;
  right: 30px;
  display: block;
  width: 125px;
  height: 125px;
  line-height: 110px;
  border: none;
  border-radius: 50%;
  background-color: #1a9551;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  z-index: 10000;

  &:hover {
    background-color: #3faf69;
  }
}

.nav-link {
  padding: .5rem .7rem;
}

.form-check {
  margin-bottom: 1rem;
}

/* Text styles for Slideshow */

div.slick-slide img {
  height: auto;
}

#item-maximum-alert {
  display:none;
}

/* Styles for Instructions Pane */

.img-thumbnail {
  margin-bottom: 2rem;
}

/* Styles for Selection Pane */

#current-selection-row img.image {
  width: 100%;
}

#current-selection-row div {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Cursor styles for Collage container */
.grab {cursor: -webkit-grab; cursor: grab;}
.cross-hair {cursor: crosshair;}
.move {cursor: move;}
.pointer {cursor: pointer;}