{% extends "layouts/collage-layout.twig" %}

{% block content %}

<!-- ================== Block Main Top ================== -->
{% include 'blocks/block-main-top.twig' %}

  <div class="row p-3 no-gutters">
    <div class="col-sm-2 border-right">
      <div id="picker-container">
        <h2>Image Picker</h2>
        <section id="picker-section">
          <div id="picker-container">
            <div id="picker-row" class="row no-gutters">
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="container">
        <h2>Collage</h2>
        <div id="collage-container" class="move border"></div>
      </div>
    </div>
    <div class="col-sm-3 border-left">
      <div class="container">
        <h2>Tools</h2>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#filters">Filters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#shapes">Shapes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#blend">Blend</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="filters" class="container tab-pane active"><br>
            <div class="row pb-3">
              <div class="col-sm-12">
                <h3>Blur</h3>
                <input title="Blur Slider" id="blur-slider" type="range" min="0" max="40" step="0.05" value="0" />
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-sm-12">
                <h3>Opacity</h3>
                <input title="Opacity Slider" id="opacity-slider" type="range" min="0" max="1" step="0.05" value="1" />
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-sm-12">
                <h3>Crop</h3>
                <input title="Crop Toggle" id="crop-toggle" type="checkbox" value="0" /> Crop
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-sm-12">
                <a id="delete-button" class="btn btn-danger" href="#" role="button">Delete this layer</a>
              </div>
            </div>
          </div>
          <div id="shapes" class="container tab-pane fade"><br>
            <h3>SHAPES</h3>
            <div id="shapes-container"></div>
          </div>
          <div id="blend" class="container tab-pane fade"><br>
            <h3>BLEND</h3>
            <input type="radio" name="blend" value="none" id="blend-none" checked> none<br />
            <input type="radio" name="blend" value="xor" id="blend-xor"> xor<br />
            <input type="radio" name="blend" value="multiply" id="blend-multiply"> multiply<br />
            <input type="radio" name="blend" value="lighten" id="blend-lighten"> lighten<br />
            <input type="radio" name="blend" value="destination-in" id="blend-destination-in"> destination-in<br />
            <input type="radio" name="blend" value="color-dodge" id="blend-color-dodge"> color dodge<br />
            <input type="radio" name="blend" value="soft-light" id="blend-soft-light"> soft light<br />
            <input type="radio" name="blend" value="difference" id="blend-difference"> difference<br />
            <input type="radio" name="blend" value="hue" id="blend-hue"> hue<br />
            <input type="radio" name="blend" value="saturation" id="blend-saturation"> saturation<br />
            <input type="radio" name="blend" value="luminosity" id="blend-luminosity"> luminosity<br />
            <input type="radio" name="blend" value="overlay" id="blend-overlay"> overlay<br />
            <input type="radio" name="blend" value="screen" id="blend-screen"> screen<br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-3 next-button-container">
    <div>
      <a id="next-button" class="btn btn-lg btn-primary" href="share.html" role="button">Next!</a>
    </div>
  </div>

<!-- ================== Block Main Bottom ================== -->
{% include 'blocks/block-main-bottom.twig' %}

{% endblock %}