{% extends "layouts/slideshow-layout.twig" %}

{% block content %}

		<!-- ================== Block Main Top ================== -->
		{% include 'blocks/block-main-top.twig' %}

        <div class="row">
          <div class="col-sm-12">
            <div class="collage-slideshow">
              <div><img src="https://ids.lib.harvard.edu/ids/iiif/7066372/full/full/0/default.jpg"></div>
              <div><img src="https://ids.lib.harvard.edu/ids/iiif/13190698/full/full/0/default.jpg"></div>
              <div><img src="https://ids.lib.harvard.edu/ids/iiif/1593358/full/full/0/default.jpg"></div>
              <div><img src="https://ids.lib.harvard.edu/ids/iiif/3463912/full/full/0/default.jpg"></div>
              <div><img src="https://ids.lib.harvard.edu/ids/iiif/457604911/full/full/0/default.jpg"></div>
            </div>
            <div id="home-title">
              <h1>Archive of Now</h1>
            </div>
            <div id="home-tagline">
              <h2>Remix works across centuries in five minutes.</h2>
            </div>
          </div>
        <div class="row p-3 next-button-container">
          <a id="next-button" class="btn btn-lg btn-primary" href="instructions.html" role="button">Let's Go!</a>
        </div>

  <!-- ================== Block Main Bottom ================== -->
		{% include 'blocks/block-main-bottom.twig' %}

{% endblock %}