{% extends "layouts/select-layout.twig" %}

{% block content %}

  <!-- ================== Block Main Top ================== -->
  {% include 'blocks/block-main-top.twig' %}

  <div class="row p-3 no-gutters">
    <div id="image-selection-container" class="col-sm-7">
    <h2>Select</h2>
      <div id="image-library-container" class="container">
        <ul id="category-tabs" class="nav nav-tabs">
        </ul>
        <div id="category-content" class="tab-content">
        </div>
      </div>
    </div>
    <div id="current-selection-container"  class="container col-sm-4">
      <h2>Current Selection</h2>
      <div id="item-maximum-alert" class="alert alert-danger">
        <strong>Error!</strong> You can only add a maximum of 8 items.
      </div>
      <div id="current-selection-row" class="row">
      </div>
    </div>
  </div>


  <div class="row p-3 next-button-container">
    <div>
      <a id="next-button" class="btn btn-lg btn-primary" href="collage.html" role="button">Next!</a>
    </div>
  </div>

  <!-- ================== Block Main Bottom ================== -->
  {% include 'blocks/block-main-bottom.twig' %}

{% endblock %}