{% extends "layouts/share-layout.twig" %}

{% block content %}

  <!-- ================== Block Main Top ================== -->
  {% include 'blocks/block-main-top.twig' %}
  <div class="row p-3 no-gutters">
    <div class="col-sm-12">
      <h2>Share</h2>
    </div>
  </div>

  <div class="row p-3 no-gutters">
    <div class="col-sm-6">
      <div id="collage-container"></div>
    </div>
    <div class="col-sm-6">
      <form action="#" id="share-form">
        <div class="form-group">
          <label for="collage-title">Title</label>
          <input type="text" class="form-control" id="collage-title" placeholder="Title" required>
        </div>
        <div class="form-group">
          <label for="author">Name</label>
          <input type="text" class="form-control" id="author" placeholder="Name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" required>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="opt-in">
          <label class="form-check-label" for="opt-in">
            Include my collage in marketing materials
          </label>
        </div>
        <button id="print-button" type="submit" class="btn btn-lg btn-primary" role="button">Print!</button>
      </form>
    </div>
  </div>

  <!-- ================== Block Main Bottom ================== -->
  {% include 'blocks/block-main-bottom.twig' %}

{% endblock %}