<!doctype html>
<html lang="en">
<head>
  {% include "../includes/head.twig" %}
</head>
<body>
<!-- HEADER -->
{% include "../includes/header.twig" %}

<!-- MAIN -->
<main>
  {% block content %}

  {% endblock %}
</main>

<!-- FOOTER -->
{% include "../includes/footer.twig" %}

<!-- SCRIPTS -->
{% include "../includes/global-scripts.twig" %}
{% include "../includes/share-scripts.twig" %}

</body>
</html>