<!doctype html>
<html lang="en">
<head>
  {% include "../includes/head.twig" %}
  {% include "../includes/slideshow-styles.twig" %}
</head>
<body class="splash">

<div id="slideshow-splash">
</div>

<!-- MAIN -->
<main>
  {% block content %}

  {% endblock %}
</main>

<!-- FOOTER -->
{% include "../includes/footer.twig" %}

<!-- SCRIPTS -->
{% include "../includes/global-scripts.twig" %}
{% include "../includes/slideshow-scripts.twig" %}

</body>
</html>